<?xml version="1.0" encoding="utf-8" ?>
<bot name="Brigand" server="irc.sorcery.net" port="6667" username="Brigand" fullName="Brigand" localHost="local" autoReconnect="true">
	<module type="Brigand.Aliases" name="aliases" prefix="!"/>
	<module type="Brigand.Channels" name="channels">
		<channel>#brigand</channel>
	</module>
	<module type="Brigand.Security" name="security">
		<user name="nobodyimportant" mask="who*!where@why" permissions="*" />
	</module>
	<module type="Brigand.Script" name="script" prefix="=&gt;" maxOutputLines="10" executePermission="admin">
	</module>
	<module type="Brigand.Chatter" name="chatter" brainFile="brigand.brn"/>
	<module type="Brigand.RssWatcher" name="rss" pollTime="1800">
	<!--
		<feed name="Penny Arcade" url="http://feeds.penny-arcade.com/pa-mainsite?format=xml"/>
		<feed name="shitmydadsays" url="http://twitter.com/statuses/user_timeline/62581962.rss"/>
		<feed name="slashdot-games" url="http://rss.slashdot.org/Slashdot/slashdotGames"/>
		<feed name="slashdot-science" url="http://rss.slashdot.org/Slashdot/slashdotScience"/>
		<feed name="Zero Punctuation" url="http://www.escapistmagazine.com/rss/videos/list/1.xml"/>
	-->
	</module>
	<module type="Brigand.Insult"/>
</bot>
