<?xml version="1.0" encoding="utf-8" ?>
<bot name="Brigand" server="irc.sorcery.net" port="6667" username="Brigand" fullName="Brigand" localHost="local" autoReconnect="true">
	<startup>PRIVMSG NickServ :id spork957</startup>
	<startup>MODE Brigand :-m</startup>
	<module type="Brigand.Aliases" name="aliases" prefix="!"/>
	<module type="Brigand.Channels" name="channels">
		<channel>#spork</channel>
	</module>
	<module type="Brigand.Security" name="security">
		<user name="Nedry" mask="Nedry_*!nedry@(.+\.sttlwa\.dsl-w\.36f5c1fe\.net\.hmsk|.+\.hsd1\.wa\.5aa6454b\.net\.hmsk)" permissions="*" />
		<user name="Ferong" mask="Ferong_*!gisenberg@(.+\.sttlwa\.fios\.36f5c1fe\.net\.hmsk|.+\.c834ed02\.com\.hmsk)" permissions="*" />
		<user name="Fes" mask="Fes_*!JPatrick@.+\.sttlwa\.dsl-w\.36f5c1fe\.net\.hmsk" permissions="*" />
		<user name="Scop" mask="Sco[pz]_*!scop@.+\.hsd1\.wa\.5aa6454b\.net\.hmsk" permissions="*" />
	</module>
	<module type="Brigand.Script" name="script" prefix="=&gt;" maxOutputLines="10" executePermission="admin">
		<load>init.py</load>
	</module>
	<module type="Brigand.Trivia" name="trivia" providerType="Brigand.urbanDictionaryTrivia" requestThreshold="3" skipThreshold="3" requestExpire="120" beforeQuestionDelay="20" afterQuestionDelay="30" afterHintDelay="30" maxNumberOfHints="4" showAnswerReveal="True" questionsPerGame="15"/>
	<module type="Brigand.Chatter" name="chatter" brainFile="brigand.brn"/>
	<module type="Brigand.RssWatcher" name="rss" pollTime="1800">
		<feed name="Penny Arcade" url="http://feeds.penny-arcade.com/pa-mainsite?format=xml"/>
		<feed name="shitmydadsays" url="http://twitter.com/statuses/user_timeline/62581962.rss"/>
		<feed name="slashdot-games" url="http://rss.slashdot.org/Slashdot/slashdotGames"/>
		<feed name="slashdot-science" url="http://rss.slashdot.org/Slashdot/slashdotScience"/>
		<feed name="Zero Punctuation" url="http://www.escapistmagazine.com/rss/videos/list/1.xml"/>
	</module>
</bot>
