<?xml version="1.0" encoding="utf-8" ?>
<bot name="Brigand">
	<module type="Brigand.Irc" name="irc" server="irc.sorcery.net" port="6667" nickName="Brigand" userName="Brigand"
					fullName="Brigand" localHost="local" autoReconnect="true" maxTextLength="420"
					textSplitChars=" -,:">
		<startup>PRIVMSG NickServ :id spork957</startup>
		<startup>MODE Brigand :-m</startup>
	</module>
	<module type="Brigand.Ctcp" name="ctcp"/>
	<module type="Brigand.Aliases" name="aliases" prefix="!"/>
	<module type="Brigand.Channels" name="channels">
		<channel>#spork</channel>
	</module>
	<module type="Brigand.Security" name="security">
		<user name="Nedry" mask="Nedry_*!nedry@.+\.sttlwa\.dsl-w\.36f5c1fe\.net\.hmsk" permissions="*"/>
	</module>
	<module type="Brigand.Script" name="script" prefix="=&gt;" maxOutputLines="10" executePermission="admin">
		<load>init.py</load>
	</module>
	<module type="Brigand.Trivia" name="trivia" providerType="Brigand.urbanDictionaryTrivia" requestThreshold="3" requestExpire="120" beforeQuestionDelay="20" afterQuestionDelay="30" afterHintDelay="30" maxNumberOfHints="4" showAnswerReveal="True" questionsPerGame="15"/>
	<module type="Brigand.Chatter" name="chatter" brainFile="brigand.brn"/>
	<module type="Brigand.RssWatcher" name="rss" pollTime="1800">
		<feed name="Penny Arcade" url="http://feeds.penny-arcade.com/pa-mainsite?format=xml"/>
		<feed name="shitmydadsays" url="http://twitter.com/statuses/user_timeline/62581962.rss"/>
		<feed name="slashdot-games" url="http://rss.slashdot.org/Slashdot/slashdotGames"/>
		<feed name="slashdot-science" url="http://rss.slashdot.org/Slashdot/slashdotScience"/>
		<feed name="Zero Punctuation" url="http://www.escapistmagazine.com/rss/videos/list/1.xml"/>
	</module>
</bot>
